/*
 * main css for keymap
 */

#data-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 7px;
}

#data {
    text-align: center;
    font-weight: normal;
    padding-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}

table#dataTable {
    text-align: center;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    box-shadow: 5px 10px #BFBFBF;
    border-radius: 3px;
}

#dataTable > tbody > tr > th {
    color: #ffffff;
    background-color: #ADB6E6;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

#dataTable > tbody > tr:nth-child(even) {
    background-color: #fff;
}

#dataTable > tbody > tr:nth-child(odd) {
    background-color: #E5E5E5;
}

#dataTable > tbody > tr > td {
    padding-left: 7px;
    padding-right: 7px;
}

#dataTable > tbody > tr > td:nth-child(3) {
    text-align: left;
    padding-left: 7px;
}

#legendTable {
    padding-top: 7px;
    text-align: center;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

#dataLegend {
    text-align: center;
    font-weight: nromal;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    padding-top: 11px;
    text-align: center;
    font-size: smaller;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
